<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446612696205-ltm5odm308hkv1besl8mv1s6uhqb7ftq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446612696205-ltm5odm308hkv1besl8mv1s6uhqb7ftq</string>
	<key>API_KEY</key>
	<string>AIzaSyBDiwhfWTkupUOu9YFxF1zFXh_tQg9OYA8</string>
	<key>GCM_SENDER_ID</key>
	<string>446612696205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filglobal.org</string>
	<key>PROJECT_ID</key>
	<string>fil-global-246ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fil-global-246ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446612696205:ios:664d39e4d0dcfc7dc846c4</string>
	<key>DATABASE_URL</key>
	<string>https://fil-global-246ad-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>